* {
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;

}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    padding: 25px 168px;
    background-color: white;
}

.nav .list {
    display: flex;
    gap: 45px;
    align-items: center;
}

.nav .list a {
    text-decoration: none;
}

.nav .list a:hover {
    color: #28A0F6;
}

.nav .btnnav {
    background-color: #28A0F6;
    padding: 13px 28px;
    color: white;
    font-weight: bold;
}
.nav .btnnav:hover{
    background-color: black;
    transition: 0.5s;
}

.header {
    height: 100dvh;
}

.header .isiheader-a {

    height: 40%;
    padding: 0px 240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 70px;
    font-weight: bold;
}

.header .isiheader-b {
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: end;
    padding: 50px 168px;
    background-color: gray;
    background-image: url(images/bgheader.jpg) ;
    background-size: contain;  
    color: white;  
}
.isiheader-b .container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    
}